$clr-one: #30233e;
$clr-two: #2bfdef;
$clr-three: #fbe553;
$clr-four: #f57d49;
$clr-five: #442b5c;

$clr-two-dark: #02a498;
$clr-fnt-one: #c2b8da;
// $clr-fnt-one: #d5cbe2;
$clr-fnt-two: rgba(
  $color: #2bfdef,
  $alpha: 0.9
);
$clr-fnt-three: #e1dced;
// $clr-fnt-three: #f2f0f7;
// $clr-fnt-three: #eeebf3;
