@font-face {
  font-family: "merriweather";
  src: url("../../font/Merriweather-Regular.otf") format("ttf"),
    url("../../font/Merriweather-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../../font/Roboto-Regular-webfont.woff");
  src: url("../../font/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$fnt-one: "merriweather";
// $fnt-one: "Roboto", sans-serif;
$fnt-two: "robotoregular";

@mixin function-font(
  $fnt-size,
  $fnt-weight,
  $fnt-family,
  $ltr-spc,
  $ln-hgh,
  $fnt-clr
) {
  font-size: $fnt-size;
  font-weight: $fnt-weight;
  font-family: $fnt-family;
  letter-spacing: $ltr-spc;
  line-height: $ln-hgh;
  color: $fnt-clr;
}
